.filter-wrapper {
	width: 100%;
	height: 80px;
	box-shadow: 0 1px 3px #457b9d;
	border-radius: 3px;
	margin-bottom: 10px;
}

.filter {
	height: auto;
	width: 60%;
	padding: 30px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	font-family: 'Open Sans', sans-serif;
}

fieldset input {
	height: 35px;
	border-radius: 3px;
	border: 1px solid #457b9d;
}
