.card {
	background: whitesmoke;
	opacity: 0.8;
	border-radius: 4px;
	height: 325px;
	width: 325px;
	margin: 1rem;
	position: relative;
	box-shadow: 0 3px 6px #457b9d, 0 3px 6px #457b9d;
	display: flex;
	flex-direction: column;
	align-items: center;
	font-family: 'Open Sans', sans-serif;
}

.img {
	border-radius: 50%;
	margin-top: -20px;
	height: 100px;
	width: 100px;
}

ul {
	margin-top: -5px;
	list-style: none;
}

li {
	display: flex;
	justify-content: center;
	font-size: medium;
	margin: 5px;
	padding: 3px;
}

.card:hover {
	box-shadow: 0 5px 15px #1d3557, 0 5px 15px #1d3557;
	transform: scale(1.1);
}
